# Игнорируем все файлы в IN, но оставляем структуру папок
IN/**/*
!IN/**/
!IN/**/.gitkeep

# Игнорируем все файлы в OUT, но оставляем структуру папок
OUT/**/*
!OUT/**/
!OUT/**/.gitkeep

# Полностью игнорируем Example внутри Docs
Docs/Example/

# Логи
log/**/*
!log/**/
!log/**/.gitkeep

# Секреты и окружение
.env
.venv/

# Временные файлы Python
__pycache__/
*.pyc
